.home {
    display: flex;
    flex-direction: column;
}

.home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

.home__header h1,
.home__header div {
    color: #FECA1B;
    padding: 1rem 0.5rem;
}


.load__more {
    background-color: #f5cc37;
    border: 2px solid #f5cc37;
    border-radius: 4px;
    color: #121212;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}

.load__more:hover {
    background-color: #1c7ceb;
    border: 2px solid #1c7ceb;
    color: #000;
    transition: 0.4s;
}

.button__load__more {
    text-align: center;
}

